html,
body,
#landing {
	height: 100%;
}

#landing {
	background: url("../images/rawpixel-550994-unsplash.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}

#navigate {
	background-color: aqua;
}