html,
body,
#landing {
	height: 100%;
}

#landing {
	background: url("https://freephotos.cc/building#443383") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}

#navigate {
	background-color: aqua;
}