html,
body,
#landing {
	height: 100%;
}

#landing {
	background: url("https://cdn.pixabay.com/photo/2018/01/20/14/26/panorama-3094696_960_720.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}